/* Set colours */

:root {
    --color-bg-dark: #24272E;
    --color-white: #fff;
}

/* Basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-dark);
}

/* Header */

header {
    background-color:var(--color-white);
    padding: 20px;
}

.header__title {
    color: var(--color-bg-dark);
    text-align: center;
    font-family: Asap, sans-serif;
}